#exportPattern("^[[:alpha:]]+")
exportMethods( overview, plot, plotDensity, sampleBam, table )
export( "summarizeAlignment" )

import( methods )
import( ShortRead )
import( GenomePlotR )
import( RColorBrewer )
import( S4Vectors )
import( grid )
import( lattice )
import( Rsamtools )
#import( GenomicFeatures )
#import( GenomicRanges )
